body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background: #FFF7DB;
  }
  
  h1 {
    text-align: center;
    font-weight: bold;
    padding: 0.2em 0;
    font-family: Georgia, serif;
    color: black; 
  }
  
  h2 {
    font-size: 1.25em;
    text-align:left;
    padding: 0.2em 0;
    font-family: Georgia, serif;
  }
  h3, h4 {
    font-family: Georgia, serif;
  }
  
  p {
    margin: 1.8em 0;
    line-height: 1.8em;
  }
  
  header,
  main,
  aside,
  nav,
  footer {
    padding: 1em;
  }
  
  .container {
    margin: 0 auto;
    background: #FFF7DB;
    display: grid;
    width: 75vw;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    
      "heady  heady"
      "navvy  navvy"
      "mainy  mainy"
      "aside1 aside2" 
      "tips    aside2"
      "asmr    asmr"
      "footy  footy";
  }
  
  #second_title{
    text-align: center;
  }

  .nav-bar{
    grid-area: navvy;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #aside1 {
    grid-area: aside1;
    justify-self: left;
    justify-items: left;
    /* margin-bottom: 1.25em; */
    padding: 1em;
  }

  #aside2 {
    grid-area: aside2;
    justify-self: right;
    justify-items: right;
    /* margin-bottom: 1.25em; */
    padding: 1em;
  }

  #asmr {
    grid-area: asmr;
    padding: 1em;
    align-self:first baseline;
    /* max-width: 400px; */
  }

  #tips-a {
    grid-area: tips;
    border: 1px solid black;
    border-radius: 1em;
    align-self:first baseline;
    padding: 0, 4; 
  }

  header {
    grid-area: heady;
    justify-self: center;
  }
  
  main {
    grid-area: mainy;
    background: #fff1bd;
    border-radius: 1em;
    max-height: 100%;
    max-height: 1200px;
  }

  footer{
    grid-area: footy;
    justify-self: center;
  }

  img{
    align-self: center;
    margin-top: 20px;
    border: 1px solid black; 
    background-color: #fff1bd;
    max-width: 400px;
  }

  #graphic-gif {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  
  }


